@media screen and (max-width:680px){nav ul li a{padding:1em}#nav li.active a::before{top:15px;left:8px}.header-site{grid-row:span 1}#inicio{background:url(../jpegs/fondo-mob.webp) no-repeat;background-size:cover!important;background-position:right;background-attachment:scroll}.muestrario{grid-column: span 8;}.form-muestrario{grid-column: span 8;}.nosotros-text{grid-row:1/8;grid-column: 1/8;}.wrapper{grid-row: 8/12; padding: 0 1rem 0 1rem;}.nosotros-galeria{height: 50%;}.nosotros-galeria > div{flex: 0.5;}}
@media screen and (min-width:681px){#inicio{background-size:cover!important;background-position:right;background:url(../jpegs/fondo.webp) no-repeat;background-attachment:fixed}nav ul li a{padding:1em}#nav li.active a::before{top:15px;left:8px}#nav-nosotros li.active a::before{top:0px;left:-5px}.header-site{grid-row:span 2}.muestrario{grid-column: span 4;}.form-muestrario{grid-column: span 3;}.nosotros-text{grid-row:1/5;grid-column: 1/6;}.wrapper{grid-row: 5/12; margin-bottom:2rem;padding: 2rem 2rem 2rem 2rem;}.nosotros-galeria{height: 100%;}.nosotros-galeria > div{flex: 2;}}
*{margin:0;padding:0}*,::before,::after{box-sizing:border-box}
html{scroll-behavior:smooth;-webkit-tap-highlight-color:transparent}
body{font-family:'Poppins',sans-serif;font-size:14px;font-weight:400;line-height:1.8;color:#2f3452}
ul{list-style:none}a{text-decoration:none;color:inherit}
.container{max-width:100%;margin:0 auto}
#nav{z-index:50;left:50%;transform:translate(-50%);position:fixed;background-color:#f7f7ff;border-radius:40px;box-shadow:rgb(50 50 93 / 55%) 0 5px 10px 1px,rgb(0 0 0 /26%) 0 5px 10px 5px;overflow:hidden}
#nav-nosotros{z-index:50;position:absolute;width:80px;top:1em;right:1em;background-color:#344997;border-radius:40px;box-shadow:rgb(50 50 93 / 55%) 0 5px 10px 1px,rgb(0 0 0 /26%) 0 5px 10px 5px;overflow:hidden}
#nav ul{display:flex;align-items:center;padding-left:1em;padding-right:1em}
nav :where(li,a){position:relative}
nav ul li a{display:flex;align-items:center;justify-content:center;flex-direction:column-reverse;font-size:2.5em;line-height:1.3;width:80px;height:80px;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}
nav ul li a:hover{color:#3aa6d1}
nav ul li a span{font-size:10px}
#nav li::before,nav li::after{content:'';position:absolute;top:1px;height:100%;width:60px;transition:top .3s;background-color:#f7f7ff;}
#nav-nosotros li::before,#nav-nosotros li::after{content:'';position:absolute;top:1px;height:100%;width:60px;transition:top .3s;background-color:#344997;}
#nav li.active::before{left:-35px;border-radius:0 0 0 0}
#nav-nosotros li.active::before{border-radius:0 0 0 0}
#nav li.active::after{border-radius:0 0 0 0}
#nav li.active::after{right:-35px;border-radius:0 0 0 0}
#nav li.active::before,nav li.active::after{top:1px}
#nav li a::before,nav li a::after{content:'';position:absolute;background-color:#344997;z-index:1;border-radius:0 0;-webkit-transform:translateY(-40px);transform:translateY(-40px);-webkit-transition:transform .3s,border-radius .3s;transition:transform .3s,border-radius .3s}
nav li.active a::before,nav li.active a::after{-webkit-transform:translateY(0);transform:translateY(0)}
nav li a span{z-index:10}nav li a i{z-index:10}
#nav li.active a::before{height:80%;width:80%;border-radius:0 50% 50% 50%;transform:rotate(45deg)}
#nav-nosotros li.active a::before{height:75%;width:75%;border-radius:0 50% 50% 50%;transform:rotate(45deg)}
nav li.active a{color:#f7f7ff}

section>div{height:100vh;display:grid;place-content:center;color:#f7f7ff;text-transform:uppercase;font-weight:800}
section>*{grid-template-columns:repeat(5,1fr);grid-template-rows:repeat(5,1fr)}
.img-container{grid-column:1/4;grid-row:1/4;margin-left:28px;margin-bottom:28px;margin-top:28px;position:relative}
.img-container img{object-fit:cover;width:100%;max-height:100%}
.header-site{grid-column:6 / 8;background-image:url("../jpegs/logo\ dmc.png");background-size:100%;background-repeat:no-repeat}
.container-links-inicio{font-size:2.5em;z-index:4;display:grid;grid-column:6/6;grid-row:1/1;width:2em;margin-right:100}
.links-ul{color:#344997;height:45px;font-weight:400;line-height:1.8}
