@media screen and (max-width: 700px){
    .main-layout{
        margin: 2svw;
    }

    .column-span-4-mob{
        grid-column: span 4;
    }
    .news{
        padding-top: none;
    }
    .news-img{
        grid-column: span 4;
        padding-top: none;
    }
}

@media screen and (min-width: 701px){
    .main-layout{
        margin: 2rem;
    }
    .main{
        grid-column: span 3;
    }
    .column-span-2-pc{
        grid-column: span 2;
    }
    .news{
        padding-top: 5rem;
    }
    .news-img{
        padding-top: 5rem;
    }


    
}
html{
    background-color:  #842F56;
}

/* Main Sections */
.main-layout{
    display: grid;
    padding: 1.5rem;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(33, 38, 44);
}

.header{
    padding-bottom: 1.5rem;
    color: aliceblue;
    text-align: center;
}

.main{
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/joaconavarro/demilcolores/master/jpegs/pintu/20230105_104902.jpg");
    background-size: 1200px, 800px;
    background-position: center;
}
.main-text{
    margin: 2svw;
    padding: 1rem;
    color: azure;
    background-color: #842F56;
}
.menu{
    display: grid;
    position: sticky;
    top:0%;
    opacity: 96%;
    grid-column:  span 4;
    padding-bottom: 1rem;


}
.promos{
    background-color: #a1c3f5;
    text-align: center;
    box-sizing: border-box;
}
.news{
    color: azure;
}
.news-img{
    background-image: url("https://raw.githubusercontent.com/joaconavarro/demilcolores/master/jpegs/pintu/20230105_123303.jpg");
    background-size: 700px, 400px;
    background-position:center;
}

.articulos{
    padding-top: 5rem;
    color: azure;
}

.muestrario{
    padding-top: 5rem;
}

#button-group{  
    border: none;
    background-color: aquamarine;
    width: 100%;  
    display: inline-block;
    text-align: center;
}
#button-group > * {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    cursor: pointer;
}

/* Menu, fotos, textos */


ul.vertical {  
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #000!important;
    text-align: center;
}
ul.vertical a.active {
    width: 100%;
    background-color: #2acec0;
    color: white;
}

ul.vertical a.active:hover{
    background-color: #842F56;
}

ul.vertical a.menu:hover{
    background-color: #a1c3f5;
}

ul.vertical li a{
    background-color: azure;
    width: 100%;
    display: inline-block;
    color: #000;
    padding: 0.5rem;
    text-decoration: none; 
    font-size: 1.5rem;
}

.grid-col-span4{
    grid-column: span 4;
}
.grid-col-span2{
    grid-column: span 2;
}

#precio{
    position: absolute;
    margin-top: 10%;
    font-size: 36px;
}